*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html:focus-within {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
